@media (max-width: 1108px){
    header nav ul li {
        margin-right: 1rem;
    }
    .portfolio {
        width: 90%;
    }
    header nav {
        width: auto;
    }
    .portfolio .container .item .description ul li {
        font-size: .8rem;
    }
}

@media (max-width: 870px){
    header .menu-hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 70%;
        height: 100vh;
        background-color: #000;
        z-index: -1;
        padding-top: 3rem;
        overflow: hidden;
        transition: all 500ms linear;
      }
      header nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
      }
      header nav ul li::before{
          height: 3px;
      }
      header nav ul li a{
          font-size: 2rem;
      }
    .hero .text-hero .title-hero {
        font-size: 2.3rem;
    }
    .hero .text-hero p:nth-child(2) {
        font-size: 1.1rem;
    }
    .portfolio .container .item {
        width: calc(100% / 2 - 70px);
        margin: 20px 35px;
    }
    
}

@media (max-width: 701px){
    .hero .text-hero {
        width: 60%;
        text-align: center;
    }
    .hero .text-hero .title-hero {
        font-size: 2.1rem;
    }
    .hero .text-hero p:nth-child(2) {
        font-size: 1rem;
    }
}

@media (max-width: 573px){
    .container-skills {
        width: 90%;
        padding: 3.5rem 0;
        margin: 0 auto;
    }
    .hero .text-hero {
        width: 100%;
        text-align: center;
    }
    .hero .text-hero .title-hero {
        font-size: 2.5rem;
    }
    .hero .text-hero p:nth-child(2) {
        font-size: 1.1rem;
    }
    .portfolio .container .item {
        width: 65%;
        margin: 2rem auto;
    }
    .acerca-de .acerca-de_container-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        overflow: hidden;
        flex-direction: column;
    }
    .acerca-de .acerca-de_container-text .acerca-de_text {
        width: 90%;
    }
    .acerca-de .acerca-de_container-text .acerca-de_img {
        width: 70%;
        margin-top: 1rem;
    }
}
@media (max-width: 395px){
    .container-skills .skill .container-skill-level {
        width: 200px;
    }
    .portfolio .container .item {
        width: 90%;
        margin: 2rem auto;
    }
}
@media (max-width: 324px){
    .hero .text-hero .container-buttons {
        flex-direction: column;
    }
    .hero .text-hero .container-buttons div {
        margin: 1rem 0 0 0;
    }
    .hero .text-hero .container-buttons div:nth-child(1) {
        margin-right: 0;
    }
}